{% extends 'base.html' %}
{% load static %}

{% block title %}Equipos{% endblock %}

{% block content %}
<div class="container my-5">

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="fw-bold text-dark mb-0">Gestion de Equipos</h1>
            <a href="{% url 'equipo_create' %}" class="btn btn-primary">Crear Nuevo Equipo</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Nombre del Equipo</th>
                    <th scope="col">Profesor</th>
                    <th scope="col">Integrantes</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for equipo in equipo_list %}
                <tr>
                    <td class="fw-bold">{{ equipo.nombre }}</td>
                    <td>{{ equipo.profesor|default:"Sin asignar" }}</td>
                    <td>{{ equipo.clientes.count }} / 15</td>
                    <td>
                        <a name="" id="" class="" href="{% url 'equipo_update' equipo.id %}"><img src="{% static 'gestion/third/bootstrap-icons/pencil-square.svg' %}" alt="Editar" width="24" height="24"/></a>
                        <a name="" id="" class="" href="{% url 'equipo_delete' equipo.id %}"><img src="{% static 'gestion/third/bootstrap-icons/trash.svg' %}" alt="Eliminar" width="24" height="24"/></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay equipos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}