{% load static %}
<!doctype html>
<html lang="es" data-bs-theme="light">

<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{% static 'gestion/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'gestion/icons/favicon152x152.png' %}" rel="icon">
  <script src="{% static 'gestion/third/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'gestion/third/chart.js/chart.min.js' %}"></script>
  <link href="{% static 'gestion/css/style.css'%}" rel="stylesheet">
  {% block head %}{% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Gol Ahora</a>
      <div class="collapse navbar-collapse" id="barranavegacion">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profesores
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profesor_create' %}">Registrar Profesor/a</a></li>
              <li><a class="dropdown-item" href="{% url 'profesor_list' %}">Listar Profesores</a></li>
              <li><a class="dropdown-item" href="{% url 'profesoresavalidar_list' %}">Listar Profesores a Validar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clientes
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'cliente_create' %}">
                  Registrar Cliente
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'cliente_list' %}">
                  Listar Clientes
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clases y Entrenamientos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'clases_y_entrenamientos:clase_list' %}">Listar Clases</a></li>
              <li><a class="dropdown-item" href="{% url 'clases_y_entrenamientos:clase_create' %}">Crear Clase</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'clases_y_entrenamientos:entrenamiento_list' %}">Listar
                  Entrenamientos</a></li>
              <li><a class="dropdown-item" href="{% url 'clases_y_entrenamientos:entrenamiento_create' %}">Crear
                  Entrenamiento</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Equipos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'equipo_create' %}">Registrar Equipo</a></li>
              <li><a class="dropdown-item" href="{% url 'equipo_list' %}">Listar Equipos</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ligas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'liga_create' %}">Crear Liga</a></li>
              <li><a class="dropdown-item" href="{% url 'liga_list' %}">Listar Ligas</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Torneos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'torneo_create' %}">Crear Torneo</a></li>
              <li><a class="dropdown-item" href="{% url 'torneo_list' %}">Listar Torneos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Descuentos
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'descuento_create' %}">
                  Registrar Descuento
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'descuento_list' %}">
                  Listar Descuentos
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'tipodescuento_create' %}">
                  Registrar Tipo de descuento
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'tipodescuento_list' %}">
                  Listar Tipos de descuento
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Canchas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cancha_create' %}">Registrar Cancha</a></li>
              <li><a class="dropdown-item" href="{% url 'cancha_list' %}">Canchas</a></li>
              <li><a class="dropdown-item" href="{% url 'tipo_cancha_create' %}">Crear Tipos de Cancha</a></li>
              <li><a class="dropdown-item" href="{% url 'tipo_cancha_list' %}">Listar Tipos de Canchas</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reservas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'crear_reserva' %}">Registrar Reserva</a></li>
              <li><a class="dropdown-item" href="{% url 'consultar_disponibilidad' %}">Consultar Disponibilidad</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_reservas' %}">Listar Reservas</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pagos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'pago_create' %}">Registrar Pago</a></li>
              <li><a class="dropdown-item" href="{% url 'pago_list' %}">Listar Pagos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Recibo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'recibo_list' %}">Listar Recibos</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barranavegacion"
        aria-controls="barranavegacion" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
</body>

</html>