{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container my-5">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% comment %} <h1 class="fw-bold text-dark mb-0">{% block create %} {% endblock %} </h1> {% endcomment %}

                <div class="card shadow w-50 mx-auto">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">{% if object %}Editar{% else %}Nuevo {% endif %}{% block name %}{% endblock %}</h3>
                    </div>
                    <div class="card-body">
                    {% for field in form %}
                        <div class="row form-group">
                            <div class="col-sm-6 col-form-label text-dark mb-1">
                                {{ field.label_tag }}
                            </div>
                            <div class="col-sm-12">
                                {% if field.widget.attrs.type == 'checkbox' %}
                                    <span class="form-check-input">{{ field }}</span>
                                {% endif %}
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <p></p>
                                <div>
                                    <button type="button" data-dismiss="alert">&times;</button>
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            <p></p>
                        </div>
                    {% endfor %}

                    <div class="col-8">
                        <button type="submit" name="" id="" class="btn btn-primary">{% block boton_save %}Guardar{% endblock %}</button>
                        {% block button_link %}{% endblock %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function removeFormCheckInputClass() {
            const divs = document.querySelectorAll('div.form-check-input');
            divs.forEach(div => {
                div.className = div.className.replace('form-check-input', '');
            });
        }
        removeFormCheckInputClass()
    </script>

{% endblock %}