{% extends 'base.html' %}
{% load static %}

{% block title %}Gol Ahora - Gestión{% endblock title %}
{% block content %}
    <div class="container">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
                <div class="align-center">
                    <h1>Gol Ahora</h1>
                    <h2>Ingenieria de Software</h2>
                    <h3>Equipo 6</h3>
                    <p class="h5">Comisión 2 - 20:00 a 22:00 Hs.</p>
                    <ul>
                        <li>Arce, Marcos Esteban</li>
                        <li>Bogado, Jennifer</li>
                        <li>Dominguez, Jorge Fabian</li>
                        <li>Leuno, Braian Martin</li>
                        <li>Pradela, Axel</li>
                        <li>Yedro, Jose Manuel</li>
                    </ul>
                    <h3>Docentes</h3>
                    <ul>
                        <li>Conde, Sergio Daniel</li>
                        <li>Piñeiro, Juan</li>
                    </ul>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
