{% extends 'base.html' %}

{% block content %}
<div class="container-fluid px-1 px-md-3">

    <div class="mb-4 text-center text-md-start">
        <h2 class="h2">Gestión de los Tipos de Canchas</h2>
        <h2 class="h2 small">Formatos de canchas disponibles en el complejo.</h2>
    </div>
    
    <div class="row g-3 mb-4 align-items-center">
        <div class="col-12 col-md">
            <form method="get" class="d-flex gap-2 w-100">
                <div class="flex-grow-1">
                    <input type="text" name="b" class="form-control" 
                           placeholder="Buscar por tipo o superficie..." 
                           value="{{ request.GET.b|default:'' }}">
                    {% if request.GET.b %}
                        <a href="{% url 'tipo_cancha_list' %}" class="btn border-0 bg-dark text-danger pe-3 d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#970707" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg></a>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-secondary">Filtrar</button>
            </form>
        </div>

        <div class="col-12 col-md-auto text-md-end">
            <a href="{% url 'tipo_cancha_create' %}" class="btn btn-primary">Registrar Tipo de Cancha</a>
        </div>
    </div>

    <div class="d-block d-md-none px-2 mb-5">

    </div>


        <div class="table-responsive">
            <table class="table align-middle mb-0 text-nowrap">
                <thead class="table-striped">
                    <tr>
                        <th class="py-3 ps-4 bg-light">Nombre</th>
                        <th class="py-3 px-3 bg-light">Superficie Terreno</th>
                        <th class="py-3 bg-light">Capacidad Máx.</th>
                        <th class="py-3 bg-light">Precio / Hora</th>
                        <th class="py-3 bg-light">Estado</th>
                        <th class="py-3 bg-light">Máximo de Horas</th>
                        <th class="py-3 text-center bg-light" style="min-width: 200px;">Acciones</th>
                    </tr>
                </thead>
                <tbody class="border-0">
                    {% for tipo in tipos_canchas %}
                    <tr class="border-bottom">
                        <td class="py-3 ps-4">
                                {{ tipo.nombreTipo }}
                        </td>
                        <td class="py-3 px-3">
                            <span class="badge bg-success-subtle text-success border border-success-subtle px-3 py-1.5">
                                {{ tipo.get_superficie_display }}
                            </span>
                        </td>
                        <td class="py-3 px-3">
                            {{ tipo.capacidad }} Jugadores
                        </td>
                        <td class="py-3 fw-bold text-dark">
                            ${{ tipo.precio_hora|floatformat:"0" }}
                        </td>
                        <td class="py-3">
                            {% if tipo.estado == 'activo' %}
                                <span class="badge bg-success-subtle text-success border border-success-subtle px-3 py-1.5">Disponible</span>
                            {% elif tipo.estado == 'inactivo' %}
                                <span class="badge bg-warning-subtle text-warning border border-warning-subtle px-3 py-1.5">Inactivo</span>
                            {% elif tipo.estado == 'baja' %}
                                <span class="badge bg-danger-subtle text-danger border border-danger-subtle px-3 py-1.5">Baja</span>
                            {% endif %}
                        </td>
                        <td class="py-3 fw-medium">{{ tipo.max_horas }} Horas
                        <td class="py-3 text-center pe-4">
                            <div class="d-flex gap-1 justify-content-center">
                                <a href="{% url 'tipo_cancha_update' tipo.pk %}" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#285238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-pen-line-icon lucide-file-pen-line"><path d="M14.364 13.634a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506l4.013-4.009a1 1 0 0 0-3.004-3.004z"/><path d="M14.487 7.858A1 1 0 0 1 14 7V2"/><path d="M20 19.645V20a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l2.516 2.516"/><path d="M8 18h1"/></svg></a>
                                <a href="{% url 'tipo_cancha_delete' tipo.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#970707" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"><p<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#970707"ath d="M10 11v6"/><path d="M14 11v6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg></a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center py-5 text-muted">
                            
                            No se encontraron tipos de canchas registrados.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}