{% extends 'base.html' %}
{% load static %}

{% block header %}

  <title>Gol Ahora - Inicio de Sesion</title>

{% endblock header %}

{% block navbar %}{% endblock %}

{% block content %}



{% block body %}<body class="login-bg-image d-flex align-items-center">{% endblock %}
{% block container %}<div class="vw-100 vh-100 login-bg-color d-flex">{% endblock %}

        <div class="w-100 h-100 d-flex align-items-center justify-content-center p-2 text-white">
            <div class="col-md-8 col-lg-4 col-12">
                {% if next %}
                {% if user.is_authenticated %}
                <div class="">
                    <h4>¡Advertencia!</h4>
                    <p>Su cuenta no posee privilegios para acceder a este sitio.</p>
                </div>
                {% endif %}
                {% endif %}
                <h1 class="text-white text-center fw-bold text-dark mb-0">Gol Ahora</h1>
                <h4 class="text-white text-center mb-4">Iniciar Sesión</h4>
                <form id="authForm" method="post">
                    
                    {% csrf_token %}
                    <fieldset class="">
                        <div class="form-floating mb-3">
                            <input id="username" type="text" name="username" class="form-control" id="username" placeholder="usuario" required>
                            <label for="username">Usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="password" type="password" name="password" class="form-control" id="password" placeholder="contraseña" required>
                            <label for="password" class="form-label">Contraseña</label>
                            
                        </div>
                        <div class="mb-3 text-center">
                            <a href="{% url 'inicio_contrasena_cliente' %}" class="text-white text-center mb-4">¿Olvidaste tu contraseña?</a>
                        </div>
                        <button type="submit" class="btn btn-light w-100">Ingresar</button>

                    </fieldset>

                </form>

                <div class="text-center mt-3">
                    <p>¿No tienes cuenta? <a href="{% url 'registro_cliente' %}" class="text-white">Regístrate</a></p>
                </div>
            </div>
        </div>

{% comment %}     <body class="">
        
        <p></p>
        <div class="">
          <h1 class="">Gol Ahora</h1>
        </div>
	
		<div class="">
			<span class="">Ing. de Software<a href=""></a></span>
		</div>
		<div class="">
			<!-- login -->
			<form class="" method="post">

                {% csrf_token %}

				<fieldset class="">

					<div class="">
						<div class="">
							<span></span>
							<input type="text" name="username" class="" required id="id_username" placeholder="Usuario">
						</div>
					</div>
					<div class="">
						<div class="">
							<span class=""></span>
							<input type="password" name="password" required id="id_password" placeholder="Contraseña">
						</div>
					</div>
					<div class="">
						<button type="submit" class="" value="login">Iniciar Sesion</button>
					</div>
				</fieldset>
			</form>
    
    </body>
 {% endcomment %}
{% endblock content %}