# Bases de datos locales
db.sqlite3

# Entornos virtuales
venv/
env/

# Caché y compilados de Python
__pycache__/
*.pyc

# Archivos ocultos y configuraciones de editores
.vs/
.vscode/
archivo/

# Migraciones locales (opcional, pero util para evitar conflictos)
*/migrations/00*.py
!*/migrations/__init__.py