{% extends 'form_base.html' %} <!-- Extiende la plantilla base para formularios. -->

{% block title %}
Editar Reserva
{% endblock %}

{% block create %} <!-- Sobrescribe el bloque 'create' para cambiar el título del formulario. -->
Editar
{% endblock %}

{% block name %} <!-- Sobrescribe el bloque 'name' para cambiar el nombre del formulario. -->
Reserva
{% endblock %}

{% block boton_save %} <!-- Sobrescribe el bloque 'boton_save' para cambiar el texto del botón de guardar. -->
Guardar cambios
{% endblock %}