
{% extends 'base.html' %} <!-- uso base.html de gestion -->
<!-- {% load static %} --> <!-- habilito el sistema de archivos estáticos -->

<!-- espacio que base.html deja vacío para que se complete.-->
{% block title %} 
Lista de Reservas 
{% endblock %}

{% block content %} 



 <!-- contenido visual -->

  

<div class="container py-5"> <!-- clase de bootstrap con márgenes automáticos, ancho responsive y contenido centrado. padding top y bottom = 5-->
    
    <h2>Gestión de Reservas</h2>

    <div class="mb-3">
    <a href="{% url 'crear_reserva' %}"
       class="btn btn-success">
        <i class="bi bi-plus-circle"></i>
        Nueva Reserva
    </a>

    <a href="{% url 'consultar_disponibilidad' %}"
       class="btn btn-primary">
        Ver disponibilidad de canchas
    </a>
</div>


    <!-- FILTROS -->
<div class="card shadow-lg p-4 mb-4"> <!-- crea tarjeta visual con sombra, padding = 4, margin bottom = 4 -->

    <h4 class="mb-4"> 
        <i class="bi bi-search"></i> <!-- ícono de búsqueda de Bootstrap Icons. -->
        Buscar Reservas
    </h4>

    <form method="GET" 
        class="row g-3"
        id="form-busqueda"> <!-- GET: Envía los datos visibles en la URL para filtrar resultados. Bootstrap Grid System. gap=3. id para identificar el formulario en JavaScript. -->

        <!-- FECHA -->
        <div class="col-md-3"> 

            <input type="date" 
                   name="fecha"
                   class="form-control"> <!-- tipo fecha, nombre del campo para la consulta, clase de bootstrap para estilo. -->

        </div>

        <!-- CLIENTE -->
        <div class="col-md-3">

            <input type="text"
                   name="cliente"
                   class="form-control"
                   placeholder="Nombre, apellido o DNI"> <!-- tipo texto, nombre del campo para la consulta, clase de bootstrap para estilo, texto de ayuda dentro del campo. -->

        </div>

        <!-- ESTADO -->
        <div class="col-md-3">

            <select name="estado"
                    class="form-select">

                <option value="">
                    Seleccionar estado
                </option>

                <option value="PENDIENTE">
                    Pendiente
                </option>

                <option value="CONFIRMADA">
                    Confirmada
                </option>

                <option value="CANCELADA">
                    Cancelada
                </option>

            </select> <!-- tipo selección, nombre del campo para la consulta, clase de bootstrap para estilo. Las opciones permiten filtrar por estado de la reserva. -->

        </div>

        <!-- CANCHA -->
        <div class="col-md-3">

            <select name="cancha"
                    class="form-select">

                <option value="">
                    Seleccionar cancha
                </option>

                {% for cancha in canchas %}

                    <option value="{{ cancha.id }}">
                        {{ cancha.nombre }}
                    </option>

                {% endfor %}

            </select> <!-- tipo selección, nombre del campo para la consulta, clase de bootstrap para estilo. Las opciones permiten filtrar por tipo de cancha. -->

        </div>

        <!-- BOTONES -->
        <div class="col-12 d-flex gap-3 mt-4"> 

            <button type="submit"
                    class="btn btn-primary"> 

                <i class="bi bi-search"></i>
                Buscar

            </button>

            <a href="{% url 'lista_reservas' %}"
               class="btn btn-secondary">

                <i class="bi bi-arrow-clockwise"></i>
                Limpiar

            </a>

        </div> <!-- El botón de búsqueda envía el formulario para aplicar los filtros. El enlace de limpiar redirige a la misma página sin parámetros para mostrar todas las reservas. -->

    </form>

</div>

    <!-- TABLA -->
    <div class="card shadow-lg p-4">

        <div class="d-flex justify-content-between align-items-center mb-3">

        </div>

        <div class="table-responsive"> <!-- Hace que la tabla sea horizontalmente desplazable en pantallas pequeñas. -->

            <div id="tabla-reservas"> <!-- id para identificar la tabla en JavaScript. -->

                <table class="table table-hover align-middle"> 

                    <thead class="table-dark"> <!-- Encabezado de la tabla con fondo oscuro. -->

                        <tr>

                            <th>
                            <i class="bi bi-person-fill"></i>
                            Cliente
                        </th>

                        <th>
                            <i class="bi bi-dribbble"></i>
                            Cancha
                        </th>

                        <th>
                            <i class="bi bi-calendar-event"></i>
                            Fecha
                        </th>

                        <th>
                            <i class="bi bi-clock-fill"></i>
                            Inicio
                        </th>

                        <th>
                            <i class="bi bi-clock-history"></i>
                            Fin
                        </th>

                        <th>
                            <i class="bi bi-cash-stack"></i>
                            Precio
                        </th>

                        <th>
                            <i class="bi bi-check-circle-fill"></i>
                            Estado
                        </th>

                        <th>
                            <i class="bi bi-gear-fill"></i>
                            Acciones
                        </th>

                    </tr>

                </thead>

                <tbody>

                    {% for reserva in reservas %}

                    <tr>

                        <!-- id -->
                        <td>

                            {{ reserva.id }} <!-- Muestra el ID de la reserva para referencia interna. -->

                        </td>

                        <!-- CLIENTE -->
                        <td>

                            {{ reserva.cliente.nombre }}
                            {{ reserva.cliente.apellido }}
                            ({{ reserva.cliente.dni }})

                        </td>

                        <!-- CANCHA -->
                        <td>

                            {{ reserva.cancha.nombre }}


                        </td> 

                        <!-- FECHA -->
                        <td>

                            {{ reserva.fecha|date:"d/m/Y" }}

                        </td>

                        <!-- HORA INICIO -->
                        <td>

                            {{ reserva.hora_inicio|time:"H:i" }}

                        </td>

                        <!-- HORA FIN -->
                        <td>

                            {{ reserva.hora_fin|time:"H:i" }}

                        </td>

                        <!-- PRECIO -->
                        <td>

                            ${{ reserva.precio_final }} ARS

                        </td>

                        <!-- ESTADO -->
                        <td>

                            {% if reserva.estado == "CONFIRMADA" %}

                                <span class="badge bg-success">
                                    {{ reserva.estado }}
                                </span>

                            {% elif reserva.estado == "PENDIENTE" %}

                                <span class="badge bg-warning text-dark">
                                    {{ reserva.estado }}
                                </span>

                            {% else %}

                                <span class="badge bg-danger">
                                    {{ reserva.estado }}
                                </span>

                            {% endif %}

                        </td>

                        <!-- ACCIONES -->
                        <td>

                            <div class="acciones">

                                <!-- EDITAR -->
                                <a href="{% url 'editar_reserva' reserva.id %}"
                                   class="btn btn-warning btn-sm">

                                    <i class="bi bi-pencil-fill"></i>

                                </a>

                                <!-- CANCELAR -->
                                {% if reserva.estado != "CANCELADA" %}

                                    <a href="{% url 'cancelar_reserva' reserva.id %}"
                                       class="btn btn-danger btn-sm"
                                       onclick="return confirm('¿Cancelar reserva?')">

                                        <i class="bi bi-x-circle-fill"></i>

                                    </a>

                                {% endif %}

                            </div>

                        </td>

                    </tr>

                    {% empty %} <!-- Si no hay reservas, muestra este mensaje. empty es una etiqueta de Django que se ejecuta si el for no itera ningún elemento. -->

                    <tr>

                        <td colspan="9"
                            class="text-center text-muted py-4"> 

                            No hay reservas registradas

                        </td> <!-- colspan=9 para que el mensaje ocupe toda la fila. text-center para centrar el texto. text-muted para un color más claro. py-4 para padding vertical. -->

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

        </div>

    </div>

</div>

<script>

    $(document).ready(function () { // Espera a que el documento esté listo para ejecutar el código.

        $('.select2').select2({ //Aplica Select2 a los elementos con clase select2.
            placeholder: 'Buscar cliente', //Texto de marcador de posición
            allowClear: true // Permite limpiar la selección
        });

    });


document 
.getElementById('form-busqueda') // Obtiene el formulario de búsqueda por su id para agregar un evento de escucha.
.addEventListener('submit', function(e) { 

   
    e.preventDefault(); // evita que el formulario se envíe de forma tradicional y recargue la página.


    const formData = new FormData(this); // crea un objeto FormData con los datos del formulario, lo que facilita la manipulación de los datos para enviarlos en la petición AJAX.


    const params = new URLSearchParams(formData); // convierte los datos del formulario en una cadena de consulta URL, lo que permite enviar los filtros como parámetros en la petición AJAX.

  
    fetch(`?${params.toString()}`) 

        .then(response => response.text())

        .then(html => {

           
            const parser = new DOMParser();

            const doc =
                parser.parseFromString(html, 'text/html');

           
            const nuevaTabla =
                doc.getElementById('tabla-reservas');

           
            document.getElementById('tabla-reservas')
                .innerHTML = nuevaTabla.innerHTML;

        });// Realiza una petición AJAX a la misma URL con los filtros como parámetros. Luego, procesa la respuesta HTML para extraer la nueva tabla de reservas y actualizar el contenido de la tabla en la página sin recargarla.

});

</script>

{% endblock %} 