{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de clientes{% endblock title %}

{% block content %}
<div class="container mt-4">

    <div class="container">

        <h1>Lista de clientes</h1>

        <table class="table table-striped">

            <thead>
                <tr class="table-primary">
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">EMail</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Localidad</th>
                    <th scope="col">Fecha Alta</th>
                    <th scope="col">Es Socio</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>

                {% for cliente in cliente_list %}

                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.localidad }}</td>
                    <td>{{ cliente.fechaAlta }}</td>
                    <td>{{ cliente.esSocio }}</td>

                    <td>
                        <a name="" id="" class="" href="{% url 'cliente_update' cliente.id %}">
                            <img src="{% static 'gestion/third/bootstrap-icons/pencil-square.svg' %}" alt="Editar"
                                width="24" height="24" />
                        </a>

                        <a name="" id="" class="" href="{% url 'cliente_delete' cliente.id %}">
                            <img src="{% static 'gestion/third/bootstrap-icons/trash.svg' %}" alt="Eliminar" width="24"
                                height="24" />
                        </a>
                        <a name="" id="" class="" href="{% url 'cliente_print' cliente.id %}">
                            <img src="{% static 'gestion/third/bootstrap-icons/printer.svg' %}" alt="Imprimir"
                                width="24" height="24" />
                        </a>
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>
    {% endblock %}