{% extends 'base.html' %}
{% load static %}
{% load pagination %}


{% block title %}Lista de clientes{% endblock title %}

{% block content %}
<div class="container my-5">

    <div class="container">

        <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="fw-bold text-dark mb-0">Lista de clientes</h1>
        <a href="{% url 'cliente_create' %}" class="btn btn-primary">Nuevo Cliente</a>
        </div>

        <table class="table table-striped">

            <thead>
                <tr class="table-primary">
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombres</th>
                    <th class="d-none d-md-table-cell" scope="col">EMail</th>
                    <th class="d-none d-md-table-cell" scope="col">Teléfono</th>
                    <th class="d-none d-md-table-cell" scope="col">Localidad</th>
                    <th class="d-none d-md-table-cell" scope="col">Fecha Alta</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Es Socio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>

                {% for cliente in cliente_list %}

                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td class="d-none d-md-table-cell">{{ cliente.email }}</td>
                    <td class="d-none d-md-table-cell">{{ cliente.telefono }}</td>
                    <td class="d-none d-md-table-cell">{{ cliente.localidad }}</td>
                    <td class="d-none d-md-table-cell">{{ cliente.fechaAlta }}</td>
                    <td>{{ cliente.estado }}</td>
                    {% if cliente.esSocio %}
                        <td class="align-middle text-center"><span class="badge bg-success"><p>Si</p></span></td>
                    {% else %}
                        <td class="align-middle text-center"><span class="badge bg-danger"><p>No</p></span></td>
                    {% endif %}
                    

                    <td>
                        <a name="" id="" class="" href="{% url 'cliente_update' cliente.id %}"><img src="{% static 'gestion/third/bootstrap-icons/pencil-square.svg' %}" alt="Editar" width="24" height="24" /></a>
                        <a name="" id="" class="" href="{% url 'cliente_delete' cliente.id %}"><img src="{% static 'gestion/third/bootstrap-icons/trash.svg' %}" alt="Eliminar" width="24" height="24" /></a>
                        <a name="" id="" class="" href="{% url 'cliente_print' cliente.id %}"><img src="{% static 'gestion/third/bootstrap-icons/printer.svg' %}" alt="Imprimir" width="24" height="24" /></a>
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Anterior</a>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Siguiente</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
    {% endblock %}