{% extends 'base.html' %}
{% load static %}

{% block title %}Ficha de Clase{% endblock %}

{% block content %}
<div class="container">
    <h1 class="fw-bold text-dark mb-0">Ficha de Clase</h1>
    <hr>
    <p><b>Nombre:</b> {{ datos_imprimir.nombre }}</p>
    <p><b>Horario:</b> {{ datos_imprimir.horario }}</p>
    <p><b>Profesor:</b> {{ datos_imprimir.profesor|default:"Sin asignar" }}</p>
    <p><b>Cupo máximo:</b> {{ datos_imprimir.cupo_maximo }}</p>
    <p><b>Inscriptos:</b> {{ datos_imprimir.inscriptos }}</p>
    <p><b>Estado:</b> {{ datos_imprimir.estado|default:"-" }}</p>
    <p><b>Cancha:</b> {{ datos_imprimir.cancha }}</p>
    
    <h3>Alumnos inscriptos</h3>
    <ul>
        {% for alumno in datos_imprimir.alumnos %}
            <li>{{ alumno.nombre }}</li>
        {% empty %}
            <li>No hay alumnos</li>
        {% endfor %}
    </ul>
<h3>Resumen de asistencia</h3>
<p>Presentes: {{ reporte_asistencia.presentes }} | Ausentes: {{ reporte_asistencia.ausentes }}</p>

<h3>Detalle de asistencia</h3>
<table class="table table-striped">
    <thead>
        <tr class="table-primary">
            <th>Alumno</th>
            <th>Asistió</th>
        </tr>
    </thead>
    <tbody>
        {% for a in reporte_asistencia.detalle %}
            <tr>
                <td>{{ a.alumno }}</td>
                <td>{{ a.asistencia|yesno:'Sí,No' }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No hay registros de asistencia.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    

    
    <button onclick="window.print()" class="btn btn-primary">Imprimir</button>
    <a href="{% url 'clases_y_entrenamientos:clase_list' %}" class="btn btn-secondary">Volver</a>
{% endblock %}