{% extends 'base.html' %}
{% load static %}
{% load pagination %}

{% block title %}
Lista de Clases
{% endblock %}

{% block content %}
<div class="container my-5">

  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="fw-bold text-dark mb-0">Lista de Clases</h1>
    <a href="{% url 'clases_y_entrenamientos:clase_create' %}" class="btn btn-primary">Nueva Clase</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="table-primary">
          <th scope="col">Nombre</th>
          <th scope="col">Horario</th>
          <th scope="col">Profesor</th>
          <th class="d-none d-md-table-cell" scope="col">Cupo</th>
          <th class="d-none d-md-table-cell" scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for clase in clase_list %}
        <tr>
          <td>{{ clase.nombre }}</td>
          <td>{{ clase.horario|date:'d/m/Y H:i' }}</td>
          <td>{{ clase.profesor|default:'Sin profesor' }}</td>
          <td class="d-none d-md-table-cell">
            <div class="progress" style="min-width: 80px;">
              {% with total=clase.alumnos.count %}
              {% if total == clase.cupo_maximo %}
              <div class="progress-bar bg-danger" role="progressbar"
                style="width: {% widthratio total clase.cupo_maximo 100 %}%"></div>
              {% elif total >= clase.cupo_maximo|add:'-2' %}
              <div class="progress-bar bg-warning" role="progressbar"
                style="width: {% widthratio total clase.cupo_maximo 100 %}%"></div>
              {% else %}
              <div class="progress-bar bg-success" role="progressbar"
                style="width: {% widthratio total clase.cupo_maximo 100 %}%"></div>
              {% endif %}
              {% endwith %}
            </div>
            <small>{{ clase.alumnos.count }}/{{ clase.cupo_maximo }}</small>
          </td>
          <td class="d-none d-md-table-cell">
            {% if clase.estado == 'programada' %}
            <span class="badge bg-success-subtle text-success border border-success-subtle px-2 py-1 fs-7">{{ clase.get_estado_display }}</span>
            {% elif clase.estado == 'en_curso' %}
            <span class="badge bg-primary-subtle text-primary border border-primary-subtle px-2 py-1 fs-7">{{ clase.get_estado_display }}</span>
            {% elif clase.estado == 'finalizada' %}
            <span class="badge bg-secondary-subtle text-secondary border border-secondary-subtle px-2 py-1 fs-7">{{ clase.get_estado_display }}</span>
            {% elif clase.estado == 'cancelada' %}
            <span class="badge bg-danger-subtle text-danger border border-danger-subtle px-2 py-1 fs-7">{{ clase.get_estado_display }}</span>
            {% endif %}
          </td>
          <td>
            <a name="" id="" class="" href="{% url 'clases_y_entrenamientos:clase_print' clase.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#285238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-printer-icon lucide-printer"><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"/><path d="M6 9V3a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6"/><rect x="6" y="14" width="12" height="8" rx="1"/></svg></a>
            {% if clase.estado in 'cancelada,finalizada' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#285238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-pen-line-icon lucide-file-pen-line"><path d="M14.364 13.634a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506l4.013-4.009a1 1 0 0 0-3.004-3.004z"/><path d="M14.487 7.858A1 1 0 0 1 14 7V2"/><path d="M20 19.645V20a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l2.516 2.516"/><path d="M8 18h1"/></svg>
            {% else %}
            <a name="" id="" class="" href="{% url 'clases_y_entrenamientos:clase_update' clase.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#285238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-pen-line-icon lucide-file-pen-line"><path d="M14.364 13.634a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506l4.013-4.009a1 1 0 0 0-3.004-3.004z"/><path d="M14.487 7.858A1 1 0 0 1 14 7V2"/><path d="M20 19.645V20a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l2.516 2.516"/><path d="M8 18h1"/></svg></a>
            {% endif %}
            <a name="" id="" class="" href="{% url 'clases_y_entrenamientos:tomar_asistencia_clase' clase.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#285238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-check-icon lucide-user-check"><path d="m16 11 2 2 4-4"/><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/></svg></a>
            <a name="" id="" class="" href="{% url 'clases_y_entrenamientos:clase_reporte' clase.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#285238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-line-icon lucide-chart-line"><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="m19 9-5 5-4-4-3 3"/></svg></a>
            <a name="" id="" class="" href="{% url 'clases_y_entrenamientos:clase_delete' clase.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#970707" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"><path d="M10 11v6"/><path d="M14 11v6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg></a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">No hay clases registradas.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Anterior</a>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Siguiente</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
  </div>
</div>

{% endblock %}