{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de clientes{% endblock title %}

{% block content %}
<div class="container">

    <h1>Ficha del Profesor</h1>

    <hr>

    <p><b>Nombre:</b> {{ profesor.nombre }}</p>
    <p><b>Apellido:</b> {{ profesor.apellido }}</p>
    <p><b>Email:</b> {{ profesor.email }}</p>
    <p><b>Teléfono:</b> {{ profesor.telefono }}</p>
    <p><b>DNI:</b> {{ profesor.dni }}</p>
    <p><b>Estado:</b> {{ profesor.estado }}</p>

    <form action="{% url 'profesor_verificar' profesor.id %}" method="post">

        {% csrf_token %}

{% if profesor.estado == 'en_validación' %}
        <button type="submit" class="btn btn-primary">
            Verificar Profesor
        </button>
{% endif %}

    </form>

</div>

{% endblock %}