{% extends 'base.html' %}
{% load static %}

{% block title %}
Ficha del Profesor
{% endblock title %}
{% block head %}{% endblock %}

{% block content %}
<div class="container my-5">

        <div class="container">

    <h1 class="fw-bold text-dark mb-0">Ficha del Profesor</h1>

    <hr>

    <p><b>Nombre:</b> {{ profesor.nombre }}</p>
    <p><b>Apellido:</b> {{ profesor.apellido }}</p>
    <p><b>Email:</b> {{ profesor.email }}</p>
    <p><b>Teléfono:</b> {{ profesor.telefono }}</p>
    <p><b>DNI:</b> {{ profesor.dni }}</p>
    <p><b>Estado:</b> {{ profesor.get_estado_display }}</p>

    <p><b>Certificado:</b></p>

    {% if profesor.certificado %}

    <div id="pdf-viewer" style="height: 100vh"></div>

    <script type="module">
        import EmbedPDF from '{% static 'gestion/third/embed-pdf-viewer/snippet-dist/dist/embedpdf.js' %}';

        EmbedPDF.init({
            type: 'container',
            target: document.getElementById('pdf-viewer'),
            src: '{{ profesor.certificado.url }}',
            disabledCategories: ['annotation', 'print', 'form', 'redaction', 'document', 'zoom', 'panel', 'insert'],
            theme: { preference: 'system' }
        });
    </script>
    {% else %}
    <p>No hay certificado cargado.</p>
    {% endif %}

    <hr>


    <form action="{% url 'profesor_confrimarverificacion' profesor.id %}" method="post">

        {% csrf_token %}

        {% if profesor.estado == 'en_validacion' and profesor.certificado %}
        <button type="submit" class="btn btn-primary">
            Confirmar Verificación Profesor
        </button>
        {% else %}
        <button class="btn btn-primary" disabled>
            No se puede confirmar el profesor
        </button>
        {% endif %}

        <a class="btn btn-dark m-2" href="{% url 'profesoresavalidar_list' %}">
            Cancelar
        </a>

    </form>

</div>

{% endblock %}