{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="">
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            
            <div class="text-center mb-5">
                <h1 class="fw-bold fs-1">Registrar Cobro</h1>
                <p class="opacity-75">Seleccioná el concepto del servicio que vas a ingresar a la caja para redirigir al formulario correspondiente.</p>
            </div>

            <div class="row g-4 justify-content-center">
                
                <div class="col-12 col-sm-6">
                    <a href="{% url 'pago_create' %}?origen=alquiler_cancha" class="card h-100 text-decoration-none shadow-sm menu-card p-4 text-center bg-white border-0 d-flex flex-column align-items-center justify-content-center">
                        <div class="icon-shape bg-success-subtle text-success mb-3">
                            
                        </div>
                        <h4 class="fw-bold text-dark mb-2">Alquiler de Canchas</h4>
                        <p class="text-muted small mb-0">Reserva de turnos para fútbol 5, 7 o 11 y cobro de señas.</p>
                    </a>
                </div>
            </div>

            <div class="text-center mt-5">
                <a href="{% url 'pago_list' %}" class="btn btn-outline-light px-4 fw-semibold">
                    Volver al Historial
                </a>
            </div>

        </div>
    </div>
{% endblock %}
